In [5]:
student = {
    'name': 'manvi',
    'age' : 18,
    'class' : 12,
    'subject' : 'Account',
    'marks' : 85,
}
print (student)

{'name': 'manvi', 'age': 18, 'class': 12, 'subject': 'Account', 'marks': 85}

In [7]:
temp = {
    'lucknow' : [25,30,35],
    'delhi' : [20,25,30],
    'mumbai' : [30,35,40],
}
print(temp)

{'lucknow': [25, 30, 35], 'delhi': [20, 25, 30], 'mumbai': [30, 35, 40]}

In [10]:
info = dict(name = "john", age = 19, standard = '12th')
print(info)

{'name': 'john', 'age': 19, 'standard': '12th'}

In [11]:
#1st method to access value using key
print(info['name'])
print(info['age'])

john
19

In [12]:
#2nd method to access value using key
print(info.get('name'))

john

In [13]:
#to add items in dictionary
info['city'] = 'lucknow'
print(info)

{'name': 'john', 'age': 19, 'standard': '12th', 'city': 'lucknow'}

In [15]:
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['name', 'age', 'class', 'subject', 'marks'])
dict_values(['manvi', 18, 12, 'Account', 85])
dict_items([('name', 'manvi'), ('age', 18), ('class', 12), ('subject', 'Account'), ('marks', 85)])

In [16]:
for x,y in info.items():
    print(f"{x} : {y}")

name : john
age : 19
standard : 12th
city : lucknow

In [17]:
a = 4
b = 2
print("the sum of",a,"and","is",a+b)
print(f"the sum of{a} and {b}is (a+b)")

the sum of 4 and is 6
the sum of4 and 2is (a+b)

In [18]:
company = {
    'emp001' : {
        'name' : 'john',
        'age' : 25,
        'designation' : 'manager'
    },
    'emp002' : {
        'name' : 'harry',
        'age' : 22,
        'designation' : 'developer'
    },
    'emp003' : {
        'name' : 'smith',
        'age' : 25,
        'designation' : 'hr'
    }
}
print(company)

{'emp001': {'name': 'john', 'age': 25, 'designation': 'manager'}, 'emp002': {'name': 'harry', 'age': 22, 'designation': 'developer'}, 'emp003': {'name': 'smith', 'age': 25, 'designation': 'hr'}}

In [19]:
from pprint import pprint

In [20]:
pprint(company)

{'emp001': {'age': 25, 'designation': 'manager', 'name': 'john'},
 'emp002': {'age': 22, 'designation': 'developer', 'name': 'harry'},
 'emp003': {'age': 25, 'designation': 'hr', 'name': 'smith'}}

In [21]:
company['emp002']['name']

'harry'

In [22]:
print(temp['lucknow'][0])

25